export(regula_falsi)
export(biseccion)
export(punto_fijo)
export(cociente_rayleigh)
export(metodo_potencia)
export(metodo_potencia_inversa)
export(valores_vectores_propios)
export(diagonalizar_matriz)
export(descomposicion_qr)
export(algoritmo_qr)
export(reflector_householder)
export(householder_reduction)
export(multiplicidad_espectral)
export(verificar_propiedades_espectrales)
